* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #1f333a;
}
.container {
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}
header,
h1 {
  color: white;
  cursor: pointer;
}

nav li a:hover {
  color: #cc4b2b;
  padding-bottom: 8px;
  border-bottom: solid 2px #cc4b2b;
}
nav {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(151, 137, 137); */
  padding: 0.6em;
  margin-top: 2rem;
}
.bookNow {
  background-color: #cc4b2b;
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  margin: 0;
  transform: translateY(-30%);
  font-weight: bold;
  font-size: medium;
}
.bookNow:hover {
  background-color: orangered;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  padding: 0 1em;
}
form {
  position: absolute;
  left: 50%;
  background-color: white;
  width: 70vw;
  height: 70px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1.5em 0;
}
.hero {
  position: relative;
}
.quote {
  position: absolute;
  width: 450px;
  top: 60%;
  left: 30%;
  color: white;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
  cursor: pointer;
  margin: 0 auto;
}
.quote p {
  color: white;
  margin-bottom: 20px;
}

.seeTrips {
  background-color: #cc4b2b;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 50px;
  font-weight: bold;
  font-size: medium;
  color: white;
  cursor: pointer;
}
.seeTrips:hover {
  background-color: orangered;
}

.heroImage {
  height: 400px;
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  transition: transform 1s;
  cursor: pointer;
}

.heroImage:hover {
  transform: scale(1.03);
}
.popularSearches {
  margin-top: 6em;
  width: 90vw;
  align-items: center;
  text-align: center;
  color: white;
}
.popularCity {
  margin-top: 2em;
}
.popularCity li a {
  border: solid 1px black;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 10px;
}

.popularCity li :hover {
  background-color: #cc4b2b;
}

#location,
#guest {
  border: none;
  background-color: white;
  font-size: medium;
  cursor: pointer;
}

p {
  font-size: smaller;
  color: rgb(133, 122, 25);
  cursor: pointer;
  margin: 5px;
}
.explorebtn {
  background-color: #cc4b2b;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 1em;
  margin: 0;
  font-weight: bold;
  font-size: medium;
  color: white;
  cursor: pointer;
}
.explore:hover {
  background-color: orangered;
}
.date,
#date {
  cursor: pointer;
  color: black;
}

footer {
  background-color: azure;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.contacts > div {
  display: flex;
  margin: 10px 0;
}

.companyInfo {
  width: 320px;
}
.recentTrips > h3,
.companyInfo > h3 {
  padding-bottom: 10px;
}
.row1 > img,
.row2 > img {
  cursor: pointer;
  margin: 5px;
  transition: transform 0.5s;
}
.row1 > img:hover,
.row2 > img:hover {
  transform: scale(1.2);
}
